.Tech {
  text-align: center;
  color: var(--text-color);

  font-size: 50px;
}
svg {
  height: 60px;
  width: 60px;
  margin: 20px;
}
.Technologies {
  width: 50%;
  margin: 10px auto;
}
.express {
  height: 60px;
  width: 60px;
  margin: 20px;
  filter: invert(50%);
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .Technologies {
    display: block;
    width: 80%;
  }
}
