.Header {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  padding: 60px;
}
.web {
  color: #f25f4c;
}
.profile {
  color: #fffffe;
  text-align: right;
  flex: 50%;
  font-family: serif;
  padding-top: 10px;
  margin: 20px;
  font-size: 20px;

  margin-right: auto;
}
img {
  border-radius: 50%;
}
.hello {
  font-size: 40px;
}
.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
