.contact {
  color: whitesmoke;
  background: transparent;
}
.Footer {
  background: transparent;
  padding: 25px 50px;
}
a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
  color: white;
}

.links {
  padding: 20px;
}
