.contact {
  color: var(--text-color);
  background: transparent;
  font-size: 2rem;
}
.Footer {
  background: transparent;
}

.button-block {
  width: 50%;
  margin: 0px 25%;
}

.social {
  display: inline-block;
  margin: 30px;
  cursor: pointer;
}
.social a {
  display: block;
  background: var(--button-color);

  position: relative;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.social a::before {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background-color: var(--button-color);
  opacity: 0.7;
  transform: rotate(0deg) skewY(-45deg);
}
.social a::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  transform: rotate(0deg) skewX(-45deg);
  background-color: var(--button-color);
  opacity: 0.7;
  transform: rotate(45deg) scewY(-45deg);
}
.social a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px rgba(0, 0, 0, 0.5);
}
.social a .icon {
  color: white;
  font-size: 25pt;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .Footer {
    margin: 10px 0px;
  }
}
